@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
          --color-primary: 229 184 217;
          --color-background: 255 255 255;
          --color-content0: 0 0 0;
          --color-secondary: 201 184 229;
          --color-content1: 15 15 15;
          --color-content2: 51 51 51;
          --color-gradient0: 56 13 44;
          --color-gradient1: 229 184 217;
          --color-gradient2: 201 184 229;
          --color-cstone: 178 178 178;
          --color-czinc: 128 128 128;
          --color-floating: 42 42 42;
    }

    :root[data-theme="dark"] {
        --color-primary: 255 0 184;
        --color-background: 15 15 15;
        --color-content0: 255, 255, 255;
        --color-secondary: 119 43 242;
        --color-content1: 255 255 255;
        --color-content2: 204 204 204;
        --color-gradient0: 56 13 44;
        --color-gradient1: 77 23 62;
        --color-gradient2: 43 23 77;
        --color-cstone: 178 178 178;
        --color-czinc: 128 128 128;
        --color-floating: 42 42 42;

    }
};

@keyframes blobAnimation1 {
  0% {
    transform: translate(0,0);
  }
  16.66% {
    transform: translate(calc(80vw), 0);
  }
  25%{
    transform: translate(calc(80vw), 0);
  }
  41.66% {
    transform: translate(calc(80vw), calc(50vh));
  }
    50% {
    transform: translate(calc(80vw), calc(50vh));
  }
  66.66% {
    transform: translate(0, calc(50vh));
  }
  75% {
    transform: translate(0, calc(50vh));
  }
  91.66% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes blobAnimation2 {
  0% {
    transform: translate(calc(80vw), calc(50vh));
  }
  16.66% {
    transform: translate(0, calc(50vh));
  }
  25% {
    transform: translate(0, calc(50vh));
  }
  41.66% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  66.66% {
    transform: translate(calc(80vw), 0);
  }
  75% {
    transform: translate(calc(80vw), 0);
  }
  91.66% {
    transform: translate(calc(80vw), calc(50vh));
  }
  100% {
    transform: translate(calc(80vw), calc(50vh));
  }
}